* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("assets/dreambg.jpg");
  background-size: cover;
  background-position: center;
}

/* Style links */

.site-header,
.site-footer {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}

.site-header {
  color: #fff;
  padding: 0.6rem;
  background-color: rgba(0, 162, 255, 0.2);
  backdrop-filter: blur(10px);
}

.site-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
  flex: 1;
}

/* Navbar styles */
.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.main-nav a {
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.main-nav a:hover {
  background-color: #ddf8ff;
}

.main-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  margin: 0 1rem;
}

.main-nav li a {
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.main-nav li a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

/* Wall Paper Section */
.wallpaper {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  background-image: url("assets/bg2.jpg");
  background-size: cover;
  opacity: 0.8;
}

.strip-section {
  position: relative;
  top: 5em;
  height: 18%;
  background-color: rgb(255, 255, 255);
  /* backdrop-filter: blur(10px); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
}

/* Logo  */
.logo {
  background-image: url("assets/png.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 8em;
  width: 8em;
  position: absolute;
  top: 12%;
  right: 25%;
  transform: translate(50%, -50%);
}

/* Form Style / Login Form Section */
.login-form {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 1.25em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 58%;
  right: 25%;
  transform: translate(50%, -50%);
}

.form__group {
  margin-bottom: 1.25em;
  position: relative;
}

.form__label {
  display: block;
  margin-bottom: 0.3125em;
  font-weight: bold;
}

.form__input {
  width: 100%;
  padding: 0.625em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1em;
}

.form__icon i {
  color: #ccc;
}

.form__error {
  position: absolute;
  bottom: -0.625em;
  left: 0;
  font-size: 0.75rem;
  color: red;
  display: none;
}

.form__button {
  width: 30%;
  background-color: #333;
  color: #fff;
  padding: 0.625em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: .2em;
}

.form__button:hover {
  background-color: #444;
}

.log-in {
    margin-top: .8em;
}

/* Footer */

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.site-footer p {
  margin: 0;
}
