@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #fbfdff;
  text-shadow: 2px 2px 5px rgb(21, 37, 78, 0.8);
  letter-spacing: 2px;
}

/* Style links */
.site-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
  flex: 1;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #92e1ff;
  overflow: hidden;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #c7eafe;
  top: 34%;
  left: 61%;
  animation-duration: 18s;
  animation-delay: -18s;
  transform-origin: -14vw -6vh;
  box-shadow: 40vmin 0 5.298127549718641vmin currentColor;
}

.background span:nth-child(1) {
  color: #c7eafe;
  top: 96%;
  left: 93%;
  animation-duration: 41s;
  animation-delay: -35s;
  transform-origin: 15vw 22vh;
  box-shadow: 40vmin 0 5.085943841117819vmin currentColor;
}

.background span:nth-child(2) {
  color: #b8c6ff;
  top: 32%;
  left: 13%;
  animation-duration: 43s;
  animation-delay: -2s;
  transform-origin: 4vw 10vh;
  box-shadow: -40vmin 0 5.056367656951916vmin currentColor;
}

.background span:nth-child(3) {
  color: #b8c6ff;
  top: 53%;
  left: 68%;
  animation-duration: 33s;
  animation-delay: -14s;
  transform-origin: 5vw 17vh;
  box-shadow: 40vmin 0 5.730881928995042vmin currentColor;
}

.background span:nth-child(4) {
  color: #b8c6ff;
  top: 12%;
  left: 13%;
  animation-duration: 45s;
  animation-delay: -41s;
  transform-origin: 25vw -8vh;
  box-shadow: 40vmin 0 5.9692384379426615vmin currentColor;
}

.background span:nth-child(5) {
  color: #fff;
  top: 98%;
  left: 84%;
  animation-duration: 26s;
  animation-delay: -24s;
  transform-origin: 3vw 20vh;
  box-shadow: -40vmin 0 5.483314045023258vmin currentColor;
}

.background span:nth-child(6) {
  color: #c7eafe;
  top: 19%;
  left: 82%;
  animation-duration: 18s;
  animation-delay: -20s;
  transform-origin: 2vw 8vh;
  box-shadow: -40vmin 0 5.931202507057831vmin currentColor;
}

.background span:nth-child(7) {
  color: #ffffff;
  top: 20%;
  left: 50%;
  animation-duration: 18s;
  animation-delay: -39s;
  transform-origin: -18vw -9vh;
  box-shadow: -40vmin 0 5.449026240662916vmin currentColor;
}

.background span:nth-child(8) {
  color: #c7eafe;
  top: 19%;
  left: 75%;
  animation-duration: 38s;
  animation-delay: -32s;
  transform-origin: 6vw 11vh;
  box-shadow: 40vmin 0 5.418947013908649vmin currentColor;
}

.background span:nth-child(9) {
  color: #b8c6ff;
  top: 76%;
  left: 12%;
  animation-duration: 18s;
  animation-delay: -35s;
  transform-origin: 4vw 6vh;
  box-shadow: -40vmin 0 5.825230103064281vmin currentColor;
}

.background span:nth-child(10) {
  color: #b8c6ff;
  top: 59%;
  left: 34%;
  animation-duration: 51s;
  animation-delay: -47s;
  transform-origin: -18vw 20vh;
  box-shadow: 40vmin 0 5.1491739565615315vmin currentColor;
}

.background span:nth-child(11) {
  color: #ffffff;
  top: 59%;
  left: 68%;
  animation-duration: 16s;
  animation-delay: -38s;
  transform-origin: 17vw 4vh;
  box-shadow: -40vmin 0 5.657239664383841vmin currentColor;
}

.background span:nth-child(12) {
  color: #ffffff;
  top: 18%;
  left: 51%;
  animation-duration: 13s;
  animation-delay: -33s;
  transform-origin: 18vw -20vh;
  box-shadow: -40vmin 0 5.305300155852072vmin currentColor;
}

.background span:nth-child(13) {
  color: #ffffff;
  top: 5%;
  left: 17%;
  animation-duration: 54s;
  animation-delay: -22s;
  transform-origin: 11vw -24vh;
  box-shadow: 40vmin 0 5.087525921994546vmin currentColor;
}

.background span:nth-child(14) {
  color: #b8c6ff;
  top: 93%;
  left: 76%;
  animation-duration: 21s;
  animation-delay: -15s;
  transform-origin: -15vw -1vh;
  box-shadow: -40vmin 0 5.368084201906747vmin currentColor;
}

.background span:nth-child(15) {
  color: #b8c6ff;
  top: 83%;
  left: 71%;
  animation-duration: 18s;
  animation-delay: -6s;
  transform-origin: 25vw -4vh;
  box-shadow: 40vmin 0 5.080505788970436vmin currentColor;
}

.background span:nth-child(16) {
  color: #b8c6ff;
  top: 39%;
  left: 96%;
  animation-duration: 22s;
  animation-delay: -8s;
  transform-origin: 17vw -14vh;
  box-shadow: -40vmin 0 5.272965745195168vmin currentColor;
}

.background span:nth-child(17) {
  color: #b8c6ff;
  top: 82%;
  left: 14%;
  animation-duration: 31s;
  animation-delay: -31s;
  transform-origin: 2vw 18vh;
  box-shadow: -40vmin 0 5.74865590158778vmin currentColor;
}

.background span:nth-child(18) {
  color: #c7eafe;
  top: 88%;
  left: 79%;
  animation-duration: 27s;
  animation-delay: -38s;
  transform-origin: 12vw 8vh;
  box-shadow: 40vmin 0 5.28137223001342vmin currentColor;
}

.background span:nth-child(19) {
  color: #ffffff;
  top: 38%;
  left: 58%;
  animation-duration: 25s;
  animation-delay: -49s;
  transform-origin: 3vw 12vh;
  box-shadow: -40vmin 0 5.392280815712613vmin currentColor;
}

/* Wall Paper Section */
.wallpaper {
  position: absolute;
  left: 0;
  background-image: url('assets/bg6.webp');
  background-size: cover;
  height: 100vh;
  width: 60%;
  box-shadow: 5px 5px 8px #ffffff, -5px -5px 8px #0077ff;
}

.strip-section {
  position: relative;
  top: 10%;
  height: 15%;
  width: 100%;
  background-color: rgb(216, 243, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  text-align: center;
}

/* Logo  */
.logo {
  background-image: url('assets/png.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 8em;
  width: 8em;
  position: fixed;
  top: 10%;
  right: 20%;
  transform: translate(50%, -50%);
  z-index: 1;
}

/* Form Style / Login Form Section */
.login-form {
  position: fixed;
  top: 50%;
  right: 20%;
  transform: translate(50%, -50%);
  width: 100%;
  max-width: 500px;
  height: 70%;
  padding: 1.25em;
  background-color: rgba(255, 255, 255, 0.2);
  background-size: cover;
  border-radius: 66% 34% 49% 51% / 39% 45% 55% 61%;
  backdrop-filter: blur(2px);
  box-shadow: 5px 5px 8px #ffffff, -5px -5px 8px #ffffff;
  font-size: 1.2rem;
  text-shadow: 2px 2px 5px rgb(21, 37, 78, 0.8);
}

.form__icon {
  position: absolute;
  bottom: 1em;
  left: -1.4em;
  font-size: 1.2em;
  opacity: 0.4;
  -webkit-text-stroke: 3px rgb(21, 37, 78, 0.8);
}

.form__group {
  margin-bottom: 1.25em;
  position: relative;
}

.form__label {
  display: block;
  margin-bottom: 0.3125em;
  font-weight: bold;
}

.form__input {
  width: 100%;
  padding: 0.625em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1em;
}

.form__icon i {
  color: #ccc;
}

.form__error {
  position: absolute;
  bottom: -0.625em;
  left: 0;
  font-size: 0.75rem;
  color: red;
  display: none;
}

.form__button {
  width: 30%;
  color: #fff;
  padding: 0.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.1em;
  border-radius: 15px;
  background: transparent;
  text-shadow: 2px 2px 5px rgb(21, 37, 78, 0.8);
  font-size: 1.4rem;
  box-shadow: 5px 5px 8px #8296ee, -5px -5px 8px #fff;
}

.form__button:hover {
  background-color: #444;
}

.log-in {
  margin-top: 0.8em;
}

/* Footer */

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.site-footer p {
  margin: 0;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
