* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("assets/dreambg.jpg");
  background-size: cover;
}

/* Style links */

.site-header,
.site-footer {
  flex-shrink: 0;
}

.site-header {
  color: #fff;
  padding: 1rem;
}

.site-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  flex: 1;
}

/* Navbar styles */
.main-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.main-nav a {
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.main-nav a:hover {
  background-color: #ddf8ff;
}

.main-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  margin: 0 1rem;
}

.main-nav li a {
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.main-nav li a:hover {
  color: #fff;
  background-color: #4276e6;
}

/* Form Style */
.login-form {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 5px;
  padding: 1.25em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form__group {
  margin-bottom: 1.25em;
  position: relative;
}

.form__label {
  display: block;
  margin-bottom: 0.3125em;
  font-weight: bold;
}

.form__input {
  width: 100%;
  padding: 0.625em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1em;
}

.form__icon i {
  color: #ccc;
}

.form__error {
  position: absolute;
  bottom: -0.625em;
  left: 0;
  font-size: 0.75rem;
  color: red;
  display: none;
}

.form__button {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 0.625em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1.25em;
}

.form__button:hover {
  background-color: #444;
}

.site-footer {
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.site-footer p {
  margin: 0;
}
